<%- include('header') %>

<!--End topbar header-->
<div class="clearfix"></div>
	
<div class="content-wrapper">
  <div class="container-fluid">

    <div class="row mt-3">
      <div class="col-lg-6">
         <div class="card">
           <div class="card-body">
             <div class="card-title">subscription Update</div>
             <hr>
             <form  method="post" action="/subscription/edite_sub" >
              <input type="hidden" value="<%= i.id %>" name="id">
           <div class="form-group">
            <label for="sdate" class="col-sm-3 text-end control-label col-form-label"> Starting date</label>
            <input type="date" name="sdate" class="form-control" id="sdate"  value="<%= i.sdate %>">
          </div>
          <div class="form-group">
            <label for="sdate" class="col-sm-3 text-end control-label col-form-label"> Ending date</label>
            <input type="date" name="edate" class="form-control" id="edate" value="<%= i.edate %>">
          </div>
          
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Update Data</button>
          </div>
          </form>
         </div>
         </div>
      </div>

      
    </div><!--End Row-->

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->

    </div>
    <!-- End container-fluid-->
    
   </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
    <%- include('footer') %>
